.common-flex {
  display: flex;
}

.column-styles {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.profile-form {
  margin: 30px 10px 10px 20px;
}

.button-styles {
  background-color: black !important;
  border-color: black !important;
}

.add-btn {
  margin-left: 10px;
}

.female-checkbox {
  margin-left: 10px;
}

.country-dropdown {
  margin-left: 20px;
}

.submit-button {
  margin-top: 20px;
}
